/* BODY */

body{
	background-image: url("../img/brushed.png");
	font-family: 'Noto Sans';
	width: 800px;
	margin: 0 auto;
}

/* TABLES */

table.fixed { 
	table-layout:fixed;
	padding-left: 12px; 
}
table.fixed td { 
	overflow: hidden;
	padding-bottom: 10px;
	padding-left: 0px;
	vertical-align: top;
}

/* HYPERLINKS */

a{
	text-decoration: none;
	color: #000080;
}
a:hover{
	color: #00B000;
}

/* TITLE */

#title{
	text-align: center;
	padding-bottom: 10px;
	padding-top: 30px;
}
#titlelogo{
	position: relative;
	top: 1px;
}
#titlephys{
	color: #00B000;
}
#titlei{
	color: #000080;
	padding-left: 3px;
	padding-right: 2px;
}
#titlendex{
	color: #000080;
}
#frontpageTitle{
	padding-top: 200px;
	transition: padding 0.3s ease-in-out;
	-webkit-transition: padding 0.3s ease-in-out;
	-moz-transition: padding 0.3s ease-in-out;
	-ms-transition: padding 0.3s ease-in-out;
	-o-transition: padding 0.3s ease-in-out;
}

/* SEARCH FORM */

#searchbox{
	text-align: center;
	padding-bottom: 20px;
	position: relative;
	right: -9px;
}
#searchtext{
	vertical-align: middle;
}
#searchglass{
	display: inline-block;
	position: relative;
	left: -18px;
	vertical-align: middle;
}
#searchglass img{
	height: 10px;
}
#query{
	width: 500px;
	height: 21px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 12pt;
	border-radius: 5px;
}
button{
	height: 21px;
	width: 60px;
	padding: 0 0;
	top: 0px;
	vertical-align: middle;
}
#searchbutton{
	vertical-align: middle;
	padding-bottom: 1px;
	top: 0px;
}
#glass{

}
#search_form{

}
input:focus, textarea:focus, select:focus {
	outline:0 none;
}
input{
	border: 0;
}

/* NAVIGATION */

#navbar{
	margin: 0px auto;
	text-align: center;
	width: 800px;
	position: relative;
	pointer-events: none;
}

#navbar a{
	pointer-events: auto;
}

.navtext{
	text-align: center;
	padding: 15px;
	font-size: 12px;
}

/* DATA DISPLAY */

.infoblock{
	margin: 0px auto;
	text-align: left;
	width: 800px;
	position: relative;
	background: #E3E3E3;
	/*overflow: hidden;*/
	padding-top: 10px;
	opacity: 0;
	border-radius: 5px;
	box-shadow: 0px 3px 4px 0px rgba(50,50,50,0.2);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.infoseparate{
	padding-bottom: 20px;
}
.normal{
	font-size: 12pt;
	color: black;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 15px;
	text-align: justify;
}
.normalrow{
	font-size: 12pt;
	color: black;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 10px;
}
.full_name{
	font-size: 16pt;
	color: black;
	text-align: center;
	font-family: "Ubuntu";
}
.representation{
	font-size: 16pt;
	color: black;
	text-align: left;
}
.units{
	font-size: 16pt;
	color: black;
	text-align: right;
	padding-right: 15px;
}
.usage{
	font-size: 14pt;
	color: black;
	text-align: center;
	padding-bottom: 13px;
}
.usagebars{
	display: inline-block;
	height: 1px;
	background-color: black;
	width: 100px;
	position: relative;
	bottom: 5px;
}
.usagetext{
	padding-left: 10px;
	padding-right: 10px;
}
.eqmath{
	padding-left: 15px;
}
.eqname{
	float: right;
	padding-right: 15px;
	vertical-align: middle;
}
.odddisplay{
	background-color: #D3D3D3;
	font-size: 12pt;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}
.source{
	position: relative;
	overflow: visible;
}
.source .sourceInfo {
    opacity: 0;
    position: absolute;
    display: table-cell;
    white-space: nowrap;
    bottom: 0px;
    left: 0px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;

}
.source:hover .sourceInfo {
    opacity: 0.8;
}
#message{
	font-size: 12pt;
	color: black;
	text-align: center;
	opacity: 1;
	padding-bottom: 10px;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}
#load{
	text-align: center;
	margin-top: -35px;
	margin-bottom: 12px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

/* BETA */

#betawarning{
	text-align: center;
}

/* 404 */

#feynman{
    text-align: center;
    padding-bottom: 10px;
}