<!DOCTYPE HTML>
<html>
    <head>
        <title>PhysIndex</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="A searchable database of physics variables, equations and their associations.">
        <meta name="keywords" content="physics,equation,equations,variable,variables,search,find,database,units,mechanics,electricity,magnetism">
        <meta name="application-name" content="physindex">
        <base href="/"/>
        <script>
            MathJax = {
              tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
              }
            };
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <link rel="icon" type="img/ico" href="static/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
        <script type="text/javascript" src="static/data.js"></script>
        <script type="text/javascript" src="static/scripts.js"></script>
    </head>
    <body ng-app="physindexApp">
        <div ng-controller="physindexController as app">
            <header id="homepage">
                <a href="/"><img src="static/title.svg" alt="PhysIndex"></a>
            </header>
            <form id="searchform" ng-submit="app.search()">
                <div class="input-group">
                    <input ng-model="app.searchText" type="text" class="form-control" placeholder="Search" id="query" name="query" maxlength="200" autocomplete="off" autofocus>
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                    <input type="submit" class="inp-hidden">
                </div>
            </form>
            <article ng-if="app.showGreeting">
                <div class="greeting">
                    Type in a physics variable, equation, or unit.
                </div>
            </article>
            <div id="loader">
                <img src="static/load.svg" alt="Fetching your results now!">
            </div>
            <div ng-if="app.results">
                <div ng-repeat="result in app.results">
                    <article ng-if="result.type === 'variable'">
                        <h1><a ng-click="app.showVariable(result.value.fullName)">{{ result.value.fullName }}</a> {{ result.value.definitionRepresentation }}</h1>
                        <p>
                            {{ result.value.description }}
                            <a href="{{ result.value.descriptionUrl }}">Read more.</a>
                        </p>
                        <p>
                            <strong>Units: </strong>
                            <span ng-if="result.value.unitCompositionValues.length > 0">
                                {{ result.value.units }} where 
                                <span ng-repeat="unit in result.value.unitCompositionValues">
                                    <span ng-if="!$last">{{ unit.representation }} is <a ng-click="app.showUnit(unit.fullName)">{{ unit.fullName }}</a>, </span>
                                    <span ng-if="$last && !$first">and {{ unit.representation }} is <a ng-click="app.showUnit(unit.fullName)">{{ unit.fullName }}</a>.</span>
                                    <span ng-if="$last && $first">{{ unit.representation }} is {{ unit.fullName }}<a ng-click="app.showUnit(unit.fullName)"></a>.</span>
                                </span>
                            </span>
                            <span ng-if="result.value.unitCompositionValues.length === 0">dimensionless</span>
                        </p>
                        <h2 ng-if="result.value.equationValues.length > 0">
                            <span class="blackbar hidden-xs"></span><span class="sectname">Usage</span><span class="blackbar hidden-xs"></span>
                        </h2>
                        <div ng-repeat="eq in result.value.equationValues" class="usageContainer">
                            <div ng-class="{even: $even, odd: $odd, last: $last}" class="row">
                                <div class="eqmath col-md-6 col-xs-12">{{ eq.representation }}</div><div class="eqname col-md-6 col-xs-12"><a ng-click="app.showEquation(eq.fullName)">{{ eq.fullName }}</a></div>
                            </div>
                        </div>
                    </article>
                    <article ng-if="result.type === 'unit'">
                        <h1><a ng-click="app.showUnit(result.value.fullName)">{{ result.value.fullName }}</a> {{ result.value.definitionRepresentation }}</h1>
                        <p>
                            {{ result.value.description }}
                            <a href="{{ result.value.descriptionUrl }}">Read more.</a>
                        </p>
                        <p>
                            <strong>Composition: </strong>
                            <span ng-if="result.value.compositionValues.length > 0">
                                {{ result.value.compositionRepresentation }} where
                                <span ng-repeat="unit in result.value.compositionValues">
                                    <span ng-if="!$last">{{ unit.representation }} is <a ng-click="app.showUnit(unit.fullName)">{{ unit.fullName }}</a>, </span>
                                    <span ng-if="$last && !$first">and {{ unit.representation }} is <a ng-click="app.showUnit(unit.fullName)">{{ unit.fullName }}</a>.</span>
                                    <span ng-if="$last && $first">{{ unit.representation }} is <a ng-click="app.showUnit(unit.fullName)">{{ unit.fullName }}</a>.</span>
                                </span> 
                            </span>
                            <span ng-if="result.value.compositionValues.length === 0">
                                {{ result.value.representation }} is a base unit.
                            </span>
                        </p>
                    </article>
                    <article ng-if="result.type === 'equation'">
                        <h1><a ng-click="app.showEquation(result.value.fullName)">{{ result.value.fullName }}</a></h1>
                        <h1 class="full_name" style="padding-top: 10px;">{{ result.value.representation }}</h1>
                        <p>
                            {{ result.value.description }}
                            <a href="{{ result.value.descriptionUrl }}">Read more.</a>
                        </p>
                        <h2><span class="blackbar hidden-xs"></span><span class="sectname">Composition</span><span class="blackbar hidden-xs"></span></h2>
                        <div ng-repeat="variable in result.value.variableValues" class="usageContainer">
                            <div ng-class="{even: $even, odd: $odd, last: $last}" class="row">
                                <div class="eqmath col-md-6 col-xs-12">{{ variable.representation }}</div><div class="eqname col-md-6 col-xs-12"><a ng-click="app.showVariable(variable.fullName)">{{ variable.fullName }}</a></div>
                            </div>
                        </div>
                    </article>
                </div>
                <article ng-if="app.results.length === 0">
                    <h1>Sorry, there weren't any results for that.</h1>
                    <p>These are the kind of things you should try searching for:</p>
                    <div><table class="fixed">
                        <tr>
                            <td><strong>1.</strong></td>
                            <td>The symbol used to represent a physics variable<br />
                                <i>Examples: <a href="http://www.physindex.com/?query=m">m</a>, <a href="http://www.physindex.com/?query=F">F</a>, <a href="http://www.physindex.com/?query=theta">theta</a></i></td>
                        </tr>
                        <tr>
                            <td><strong>2.</strong></td>
                            <td>The name of a variable, constant, unit, or equation<br />
                                <i>Examples: <a href="http://www.physindex.com/?query=mass">mass</a>, <a href="http://www.physindex.com/?query=Newton's+Second+Law">Newton's Second Law</a>, <a href="http://www.physindex.com/?query=angle">angle</a></i></td>
                        </tr>
                        <tr>
                            <td><strong>3.</strong></td>
                            <td>A full equation or a piece of it<br />
                                <i>Examples: <a href="http://www.physindex.com/?query=F+%3D+ma">F = ma</a>, <a href="http://www.physindex.com/?query=rxf">rxf</a>, <a href="http://www.physindex.com/?query=T+%3D+1%2F(freq)">T = 1/(freq)</a></i></td>
                        </tr>
                    </table></div>
                    <p>Subject matter includes introductory mechanics, electricity and magnetism, and special relativity.</p> 
                </article>
            </div>
            <div ng-if="app.showAbout">
                <article>
                    <h1>About PhysIndex</h1>
                    <p>PhysIndex lets you do quick, simple queries for equations and variables so that you can get back to solving problems. There are a few key features that you can use to find the information you need.</p>
                    <h2>
                        <span class="blackbar hidden-xs"></span><span class="sectname">Single Letter Searching</span><span class="blackbar hidden-xs"></span>
                    </h2>
                    <p>In most search engines, it can be impossible to type in a single letter and get exactly what you want, which can make searching for unknown variables difficult. Let's say you can't remember what the $K$ in $\displaystyle{ K = \frac{1}{2} m v^2 }$ stands for. All you need to do is type <a href="http://www.physindex.com/?query=K">K</a> into the search bar above to find all the information you need.</p>
                    <h2>
                        <span class="blackbar hidden-xs"></span><span class="sectname">List All Relevant Equations</span><span class="blackbar hidden-xs"></span>
                    </h2>
                    <p>A difficult problem might ask you to leave your answers in terms of $x$, but you may be unsure of where to start the problem. It might be helpful to get a large list of all relevant equations so that you can decide which you need to solve the problem. Simply search for the variable to get this information.</p>
                    <h2>
                        <span class="blackbar hidden-xs"></span><span class="sectname">Simple Equation, Variable, and Unit Data</span><span class="blackbar hidden-xs"></span>
                    </h2>
                    <p>The search results are designed to convey the maximum amount of information in the smallest amount of reading. Most of our information is cited from <a href="http://wikipedia.org">Wikipedia</a>, where you can go to learn more by clicking on the "Read More" link at the end of each article.</p>
                    <p>PhysIndex is not meant replace textbooks or in-depth articles, rather PhysIndex is meant to give you a quick solution to a quick problem without extensive research.</p>
                </article>
                <article>
                    <h1><a name="contact">Get In Touch</a></h1>
                    <p>If you find a bug or a software issue, you can <a href="https://github.com/jongoodnow/PhysIndex/issues">open a ticket on Github</a>.</p>
                </article>
                <article>
                    <h1><a name="oss">Open Source</a></h1>
                    <p>PhysIndex is Open Source Software licensed under the <a href="https://github.com/jongoodnow/PhysIndex/blob/master/LICENSE">BSD License</a>. You are welcome to contribute, or otherwise use our code, by <a href="https://github.com/jongoodnow/PhysIndex">forking the repository on Github</a>.</p>
                </article>
                <article>
                    <h1><a name="legal">Legal</a></h1>
                    <p>The following web resources are used on this web site:</p>
                    <div>"White Brushed" pattern by <a href="http://uniqappz.com/">Andre Schouten</a> (modified) used under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> license.</div>
                    <div><a href="http://www.mathjax.org">MathJax</a> used for in-browser LaTeX rendering under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</a>.</div>
                    <div>Glyphicons Halflings icon set provided by <a href="http://glyphicons.com">glyphicons.com</a></div>
                    <p>&copy;2014 Jonathan Goodnow, Charles Khachian, Nicholas Boni</p>
                </article>
            </div>
            <nav id="bottom-nav" ng-if="!app.showAbout" class="navbar navbar-inner navbar-inverse" ng-class="{'navbar-fixed-bottom': app.fixedNavbar}">
                <div class="container-fluid collapse navbar-collapse" id="navdata">
                    <ul class="nav navbar-nav">
                        <li><a ng-click="app.showAboutPage()">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>&copy;2015</li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>