{% extends "search/base.html" %}

{% block title %}PhysIndex | About{% endblock %}

{% block navbarclass %}hidden-xs{% endblock %}

{% block aboutclass %}active{% endblock %}

{% block content %}
<article>
    <h1><a name="features" href="#features">About PhysIndex</a></h1>
    <p>PhysIndex lets you do quick, simple queries for equations and variables so that you can get back to solving problems. There are a few key features that you can use to find the information you need.</p>
    <h2>
        <span class="blackbar hidden-xs"></span><span class="sectname">Single Letter Searching</span><span class="blackbar hidden-xs"></span>
    </h2>
    <p>In most search engines, it can be impossible to type in a single letter and get exactly what you want, which can make searching for unknown variables difficult. Let's say you can't remember what the $K$ in $\displaystyle{ K = \frac{1}{2} m v^2 }$ stands for. All you need to do is type <a href="http://www.physindex.com/?query=K">K</a> into the search bar above to find all the information you need.</p>
    <h2>
        <span class="blackbar hidden-xs"></span><span class="sectname">List All Relevant Equations</span><span class="blackbar hidden-xs"></span>
    </h2>
    <p>A difficult problem might ask you to leave your answers in terms of $x$, but you may be unsure of where to start the problem. It might be helpful to get a large list of all relevant equations so that you can decide which you need to solve the problem. Simply search for the variable to get this information.</p>
    <h2>
        <span class="blackbar hidden-xs"></span><span class="sectname">Simple Equation, Variable, and Unit Data</span><span class="blackbar hidden-xs"></span>
    </h2>
    <p>The search results are designed to convey the maximum amount of information in the smallest amount of reading. Most of our information is cited from <a href="http://wikipedia.org">Wikipedia</a>, where you can go to learn more by clicking on the <sup style="font-size: 7pt;">[1]</sup> at the end of each article.</p>
    <p>PhysIndex is not meant replace textbooks or in-depth articles, rather PhysIndex is meant to give you a quick solution to a quick problem without extensive research.</p>
</article>
<article>
    <h1><a name="contact" href="#contact">Get In Touch</a></h1>
    <p>Have concerns about PhysIndex? We'd love to hear from you via email at <a href="mailto:physindex@gmail.com">physindex@gmail.com</a>. If you find a bug or a software issue, you can also <a href="https://github.com/jongoodnow/PhysIndex/issues">open a ticket on Github</a>.</p>
</article>
<article>
    <h1><a name="oss" href="#oss">Open Source</a></h1>
    <p>PhysIndex is Open Source Software licensed under the <a href="https://github.com/jongoodnow/PhysIndex/blob/master/LICENSE">BSD License</a>. You are welcome to contribute, or otherwise use our code, by <a href="https://github.com/jongoodnow/PhysIndex">forking the repository on Github</a>.</p>
</article>
<article>
    <h1><a name="legal" href="#legal">Legal</a></h1>
    <p>The following web resources are used on this web site:</p>
    <div>"White Brushed" pattern by <a href="http://uniqappz.com/">Andre Schouten</a> (modified) used under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> license.</div>
    <div><a href="http://www.mathjax.org">MathJax</a> used for in-browser LaTeX rendering under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</a>.</div>
    <div>Glyphicons Halflings icon set provided by <a href="http://glyphicons.com">glyphicons.com</a></div>
    <p>&copy;2014 Jonathan Goodnow, Charles Khachian, Nicholas Boni</p>
</article>
{% endblock %}