{% extends "search/base.html" %}

{% block title %}PhysIndex{% endblock %}

{% block content %}
<div class="infoblock" style="opacity: 1;">
    <div class="full_name">Something bad happened.</div>
    <div class="normal">
        Our database is currently unreachable. Please try again later. We have been notified about the issue, but if the problem persists, you can <a href="mailto:physindex@gmail.com">send us an email</a> to find out what is going on. Sorry!
    </div>
</div>
<div class="infoseparate"></div>
{% endblock %}