{% extends "search/base.html" %}

{% load staticfiles %}
<script type="text/javascript" src="{% static 'search/js/scripts.js' %}"></script>
{% block headerids %}homepage{% endblock %}

{% block searchonsubmit %}javascript:titleUp(); return false;{% endblock %}

{% block content %}
<article>
    <div class="greeting">
        Type in a physics variable, equation, or unit.
    </div>
</article>
{% endblock %}

{% block navbarclass %}navbar-fixed-bottom{% endblock %}

{% block specialfooter %}
<script type="text/javascript">
    window.onunload = function(){};
</script>
{% endblock %}