{% extends "search/base.html" %}

{% block title %}PhysIndex | Results for {{ query_string }}{% endblock %}

{% block input %}<input type="text" class="form-control" placeholder="Search" value="{{ query_string }}" id="query" name="query" maxlength="200" autocomplete="off" autofocus>{% endblock %}

{% block content %}
    {% block admingreet %}{% endblock %}
    {% if results %}
        {% for obj in results %}
            {% if obj.is_var %}
                {% block varblock %}{% endblock %}
            {% elif obj.is_unit %}
                {% block unitblock %}{% endblock %}
            {% elif obj.is_eq %}
                {% block eqblock %}{% endblock %}
            {% endif %}
            {% if not forloop.last %}
                <div class="infoseparate"></div>
            {% else %}
                {% ifequal results.paginator.num_pages 1 %}
                    <div class="infoseparate"></div>
                {% endifequal %}
                {% if not results.paginator %}
                    <div class="infoseparate"></div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if results.paginator %}
            {% ifnotequal results.paginator.num_pages 1 %}
                <div style="text-align: center;">
                    {% if results.has_previous %}
                        <a href="?query={{ query_string }}&amp;page={{ results.previous_page_number }}">&laquo;</a>
                    {% endif %}
                    Page {{ results.number }} of {{ results.paginator.num_pages }}
                    {% if results.has_next %}
                        <a href="?query={{ query_string }}&amp;page={{ results.next_page_number }}">&raquo;</a>
                    {% endif %}
                </div>
            {% endifnotequal %}
        {% endif %}
    {% else %}
        {% block noresults %}{% endblock %}
    {% endif %}
    <script> infoblockIn(); </script>
{% endblock %}