{% extends "search/results.html" %}
{% load admin_urls %}

{% block admingreet %}
    <div style="text-align: center; top: -10px; position: relative;"> 
        <i>Hey there,  {% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}! Only <strong>{{ results|length }}</strong> more items are left to revise. Keep it up!</i>
    </div>
{% endblock %}

{% block varadmintools %}
<span><a href="{% url 'admin:search_variable_change' obj.id %}">Edit</a></span><span style="float: right;"><a href="{% url 'set_revised' cls='v' name=obj.full_name %}">Mark as revised</a></span>
{% endblock %}

{% block unitadmintools %}
<span><a href="{% url 'admin:search_unit_change' obj.id %}">Edit</a></span><span style="float: right;"><a href="{% url 'set_revised' cls='u' name=obj.full_name %}">Mark as revised</a></span>
{% endblock %}

{% block eqadmintools %}
<span><a href="{% url 'admin:search_equation_change' obj.id %}">Edit</a></span><span style="float: right;"><a href="{% url 'set_revised' cls='e' name=obj.full_name %}">Mark as revised</a></span>
{% endblock %}