{% extends "search/base.html" %}

{% block title %}PhysIndex | Beta{% endblock %}

{% block content %}
<div class="infoblock">
    <div class="full_name"><a href="{% url 'beta' %}">About the Beta</a></div>
    <div class="normal">
        PhysIndex is currently under continuous development, but anyone is free to access the project in its current state today.
        As you use PhysIndex, please note that what you see is neither complete nor guaranteed to be accurate. You can help us in
        this development phase by <a href="{% url 'contact' %}">contacting us</a> about any bugs or inaccuracies that you discover.
    </div>
    <div class="usage">
        <span class="usagebars"></span><span class="usagetext">Current Status</span><span class="usagebars"></span>
    </div>
    <div class="normal" style="padding-top: 0px;">
        As of <strong>February 2, 2014</strong> the variables, constants, equations, and units available in the PhysIndex database
        are consistent with most of the material covered in an introductory physics class. This material is primarily classical
        mechanics. For the most part, the descriptions of the variables and equations have not been rigorously fact-checked.
    </div>
</div>

<div class="infoseparate"></div>

<script>infoblockIn();</script>
{% endblock %}

{% block navbarbottom %}
<div id="navbar">
    <span id="navtext"><a href="{% url 'about' %}">About</a></span><span id="navtext"><a href="{% url 'help' %}">Features</a></span><span id="navtext"><a href="{% url 'contact' %}">Contact</a></span><span id="navtext"><a href="{% url 'references' %}">References</a></span>
</div>
{% endblock %}