{% extends "search/base.html" %}

{% block title %}PhysIndex | Features {% endblock %}

{% block content %}
<div class="infoblock">
    <div class="full_name"><a href="{% url 'help' %}">Usage and Features</a></div>
    <div class="normal">
        PhysIndex lets you do quick and easy searches for equations and variables so that you can get back to solving problems. There are a few key features that you can use to find the information you need here.
    </div>
    <div class="usage">
        <span class="usagebars"></span><span class="usagetext">Single Letter Searching</span><span class="usagebars"></span>
    </div>
    <div class="normal" style="padding-top: 0px;">
        In most search engines, it can be impossible to type in a single letter and get exactly what you want, which can make searching for unknown variables difficult.
        Let's say you can't remember what the $U$ in $U=mgh$ stands for. All you need to do is type <a href="{% url 'variable' name='Potential Energy' %}">U</a>
        into the search bar above to find all the information you need.
    </div>
    <div class="usage">
        <span class="usagebars"></span><span class="usagetext">List All Relevant Equations</span><span class="usagebars"></span>
    </div>
    <div class="normal" style="padding-top: 0px;">
        A difficult problem might ask you to leave your answers in terms of $x$, but you may be unsure of where to start the problem. It might be helpful to
        get a large list of all relevant equations so that you can decide which you need to solve the problem. Simply search for the variable to get this information.
    </div>
    <div class="usage">
        <span class="usagebars"></span><span class="usagetext">Simple Equation, Variable, and Unit Data</span><span class="usagebars"></span>
    </div>
    <div class="normal" style="padding-top: 0px;">
        The search results are designed to convey the maximum amount of information in the smallest amount of reading. This is not meant replace textbooks or in-depth
        articles, rather PhysIndex is meant to give you a quick solution to a quick problem without extensive research.
    </div>
</div>
<div class="infoseparate"></div>

<script> infoblockIn(); </script>
{% endblock %}