{% extends "search/base.html" %}

{% load staticfiles %}
<script type="text/javascript" src="{% static 'search/scripts.js' %}"></script>
{% block specialheaderbegin %}
<div id="frontpageTitle"></div>
{% endblock %}

{% block form %}
<form id="search_form" method="get" action="{% url 'search' %}" onSubmit="javascript:titleUp(); return false;">
	<div id="searchbox">
		{% block input %}<span id="searchtext"><input id="query" type="text" name="query" maxlength="200" placeholder="Search" autocomplete="off" autofocus/></span>{% endblock %}<span id="searchglass"><img src="{% static 'search/glass.png' %}"></span>
	</div>
</form>
{% endblock %}

{% block content %}
<div class="infoblock" style="opacity: 1;">
	<div id="message">
		Type in a physics variable, equation, or unit.
	</div>
</div>
<div class="infoseparate"></div>
{% endblock %}