<!DOCTYPE html>
<html>
	<head>
		<title>PhysIndex | Server error!</title>
	</head>
	<body>
		<h1>Uh-oh.</h1>
		<p>
			Something bad happened. Don't worry, a pigeon has been sent in our general direction with a note saying what the problem was. We'll fix it as soon as possible. Sorry!
		</p>
        <p>
            <i>We've all ready been notified about what went wrong, but if you'd like, you can <a href="mailto:physindex@gmail.com">contact us by E-mail</a> and we will notify you when everything is fixed.</i>
        </p>
	</body>
</html>