/* ICONS */
@font-face {
    font-family: 'entypo';
    src: url('entypo.eot');
    src: url('entypo.eot?#iefix') format('embedded-opentype'),
         url('entypo.ttf') format('truetype'),
         url('entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* BODY */

body{
    background-image: url("brushed.png");
    font-family: 'Noto Sans';
    margin: 0 auto;
    font-size: 10pt;
}
img{
    -ms-interpolation-mode: nearest-neighbor;
}

/* TABLES */

table.fixed { 
    table-layout:fixed;
    padding-left: 8px; 
}
table.fixed td { 
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 0px; 
}

/* HYPERLINKS */

a{
    text-decoration: none;
    color: #000080;
}
a:hover{
    color: #00B000;
}

/* TITLE */

#title{
    text-align: center;
    font-size: 56pt;
}
#title img{
    width: 90%;
}
#titlelogo{
    position: relative;
    top: 1px;
}
#titlephys{
    color: #00B000;
}
#titlei{
    color: #000080;
    padding-left: 3px;
    padding-right: 2px;
}
#titlendex{
    color: #000080;
}
#frontpageTitle{

}

/* SEARCH FORM */

#searchbox{
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    right: -9px;
    margin-right: 9px;
}
#searchtext{
    vertical-align: middle;
}
#searchglass{
    display: inline-block;
    position: relative;
    left: -18px;
    vertical-align: middle;
}
#searchglass img{
    height: 10px;
}
#query{
    width: 90%;
    height: 19px;
    font-size: 12pt;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}
button{
    height: 21px;
    width: 60px;
    padding: 0 0;
    top: 0px;
    vertical-align: middle;
}
#searchbutton{
    vertical-align: middle;
    padding-bottom: 1px;
    top: 0px;
}
#searchbutton:hover{
    
}
#glass{

}
#search_form{

}
input:focus, textarea:focus, select:focus {
    outline:0 none;
}
input{
    border: 0;
}

/* NAVIGATION */

#navbar{
    margin: 0px auto;
    text-align: center;
    position: relative;
}

#navbar a{
    pointer-events: auto;
}

#navtext{
    text-align: center;
    padding: 0 10px;
    font-size: 10px;
}

/* DATA DISPLAY */

.infoblock{
    margin: 0px auto;
    text-align: left;
    position: relative;
    background: #E3E3E3;
    padding-top: 10px;
    opacity: 0;
    box-shadow: 0px 3px 4px 0px rgba(50,50,50,0.2);
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
}
.infoseparate{
    padding-bottom: 20px;
}
.normal{
    font-size: 10pt;
    color: black;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    text-align: justify;
}
.normalrow{
    font-size: 10pt;
    color: black;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    overflow: hidden;
}
.full_name{
    font-size: 14pt;
    color: black;
    text-align: center;
    font-family: "Ubuntu";
}
.representation{
    font-size: 14pt;
    color: black;
    text-align: left;
}
.units{
    font-size: 14pt;
    color: black;
    text-align: right;
    padding-right: 15px;
}
.usage{
    font-size: 14pt;
    color: black;
    text-align: center;
    padding-bottom: 13px;
}
.usagebars{
    display: inline-block;
    height: 1px;
    background-color: black;
    width: 25px;
    position: relative;
    bottom: 5px;
}
.usagetext{
    padding-left: 10px;
    padding-right: 10px;
}
.eqmath{
    padding-left: 15px;
}
.eqname{
    float: right;
    padding-right: 15px;
}
.odddisplay{
    background-color: #D3D3D3;
    font-size: 10pt;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.source{
    position: relative;
    overflow: visible;
}
.source .sourceInfo {
    opacity: 0;
    position: relative;
    display: table-cell;
    white-space: nowrap;
    bottom: 0px;
    left: 0px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;

}
.source:hover .sourceInfo {
    opacity: 0.8;
}
#message{
    color: black;
    text-align: center;
    opacity: 1;
    padding-bottom: 10px;
    box-shadow: 0px 3px 4px 0px rgba(50,50,50,0.2);
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

/* BETA */

#betawarning{
    text-align: center;
}